<!-- fabricator menu -->
<div class="f-menu">

    {{> f-controls}}

    <ul>
        <li>
            <a href="index.html" class="f-menu__heading">Overview</a>
        </li>

<!-- ORIGINAL AUTOMATED MENU
        {{#each materials}}
        <li>
            <a href="{{@key}}.html" class="f-menu__heading">{{name}}</a>
            <ul>
                {{#each items}}
                <li>
                    <a href="{{@../key}}.html#{{@key}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
-->
        
        <li>
            <a href="atoms.html" class="f-menu__heading">Atoms</a>
            <ul>
                {{#each materials.1atoms.items}}
                <li>
                    <a href="atoms.html#{{@key}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
        
        <li>
            <a href="molecules.html" class="f-menu__heading">Molecules</a>
            <ul>
                {{#each materials.2molecules.items}}
                <li>
                    <a href="molecules.html#{{@key}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
        
        <li>
            <a href="organisms.html" class="f-menu__heading">Organisms</a>
            <ul>
                {{#each materials.3organisms.items}}
                <li>
                    <a href="organisms.html#{{@key}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
        
        <li>
            <a href="templates.html" class="f-menu__heading">Templates</a>
            <ul>
                {{#each materials.4templates.items}}
                <li>
                    <a href="templates.html#{{@key}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
        
<!--
        <li>
            <a href="pages.html" class="f-menu__heading">5. Pages</a>
            <ul>
                {{#each materials.5pages.items}}
                <li>
                    <a href="5pages.html#{{@key}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
-->
        
        {{#each views}}
        <li>
            <a href="{{@key}}.html" class="f-menu__heading">{{name}}</a>
            <ul>
                {{#each items}}
                <li>
                    <a href="{{@../key}}/{{@key}}.html" target="_blank">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}

    </ul>


</div>
<!-- /fabricator menu -->