---
fabricator: true
---

<h1 data-f-toggle="labels">4. Templates</h1>
<div class="f-item-notes" data-f-toggle="notes">
    <ul>
        <li>Page-level objects that place components into a layout and articulate the design's underlying content structure.</li>
        <li>Provides context for relatively abstract molecules and organisms.</li>
        <li>Demonstrate how components look/function together in context of layout to prove the parts add up to a well-functioning whole.</li>
        <li>Focus on the page's underlying content structure {rather than the page's final content}</li>
    </ul>
</div>

{{#each materials.4templates.items}}

{{> f-item this}}

{{/each}}
