@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Rasmussen.Models.GenericContentBlockModel

<section class="section-content next-steps" id="admissions-next-steps">
    @Html.Raw(Model.Body)
</section>