@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Rasmussen.Models.FourColumnContentBlockModel


<div class="banner-full banner-full--imageless" >
    <div class="container">
        <div class="banner-text text--dark-on-light">
            <h1 class="banner-text__headline banner-text__headline--lvl-1">@Html.Raw(Model.Title)</h1>
            <h2 class="banner-text__headline banner-text__headline--lvl-2">@Html.Raw(Model.Body)</h2>
        </div>
    </div>
</div>
<section class="section areas-study">
   
    <div class="container">
        <section class="areas-study__grid areas-study__grid--equal">
        @foreach (var column in Model.ContentCards)
        {
            <article class="areas-study__card border-@Html.Raw(column.Title)--primary">
                @Html.Raw(column.Body)
            </article>
        }
</section>
    </div>
    
</section>