@model Rasmussen.Models.GenericContentBlockModel

<div class="banner-full banner-full--imageless bgc-rsn--primary">
    <div class="container">
        <div class="banner-text text--light-on-dark">
            <h3 class="banner-text__headline banner-text__headline--lvl-3">@Html.Raw(Model.Title)</h3>
        </div>
    </div>
</div>
<section class="section credential-overview credential-overview--full no-padding">
    <section class="section-content">
        @Html.Raw(Model.Body)
        
    </section>
</section>