@model Rasmussen.Models.GenericContentBlockModel

<section class="section uvp-3col-full uvp-3col-ful--colored bgc-rsn--light" id="credential-do-when-done">
    <div class="container">
        <header class="section-header text--centered">
            <h1 class="section__headline section__headline--lvl-1 color-rsn--primary">@Html.Raw(Model.Title)</h1>
        </header>
        <section class="section-content">
            <div class="uvp-3col-full__grid">
                @Html.Raw(Model.Body)
                
            </div>
        </section>
    </div>
</section>