@model Rasmussen.Models.GenericContentBlockModel

<section class="section glance" id="credential-classes-type">
    <div class="container">
        <header class="header-angled-bar bgc-rsn--primary">
            <h1 class="header-angled-bar__headline header-angled-bar__headline--lvl-1">@Html.Raw(Model.Title)</h1>
        </header>
        <section class="section-content">
            <article class="glance-content glance-content--main border-chevron border-chevron--mobile border-chevron--horizontal--rsn">
                @Html.Raw(Model.Body)
                
            </article>
            <aside class="glance-content glance-content--aside">
                @Html.Raw(Model.Footer)
                
            </aside>
        </section>
    </div>
</section>