@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Rasmussen.Models.FourColumnContentBlockModel 

<section class="section related">
    <div class="container">
        <header class="section-header">
            <h1 class="section__headline section__headline--lvl-1">@Html.Raw(Model.Title)</h1>
        </header>
        <section class="section-content">
            <div class="program-card-basic__grid program-card-basic__grid--three">
                <ul class="program-card-basic__list">
                @foreach (var column in Model.ContentCards)
                {
                    <li class="program-card-basic__item program-card-basic__item--@Html.Raw(column.Title)">
                        @Html.Raw(column.Body)
                        
                    </li>
                    
                }
                </ul>
            </div>
        </section>
    </div>
</section>