@model Rasmussen.Models.GenericContentBlockModel

<section class="section intro">
    <div class="container">
        <section class="section-content">
            @Html.Raw(Model.Body)
            
        </section>
    </div>
</section>