@model Rasmussen.Models.GenericContentBlockModel

<section class="section section-community" id="student-experience-community">
    @Html.Raw(Model.Body)
    <section class="toms-tiles toms-tiles--2c3r-zigzag">
       @Html.Raw(Model.Footer)
    </section>
</section>



