$panel-text-height: 230px;
.multi-panels-headline {
    text-align: center;
}
.panel-details-headline-main {
    border-bottom: 1px solid $color-white;
    display: inline-block;
    font-size: 30px;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        background-color: $color-white;
        width: 100%;
    }
}
.panel-details-headline-sub {
    border: 0;
    display: inline-block;
    font-family: $font-flama-book;
    font-size: 19px;
    text-decoration: none;
    width: 100%;
}
.panel-details-headline-main,
.panel-details-headline-sub {
    color: $color-white;
    margin: 10px 0;
}
.multi-panels {
    @extend %clearfix;
    @include multi-panels();
    margin-bottom: 50px;
    position: relative;
    text-align: center;
}

.multi-panel-container {
    @extend %clearfix;
    @extend %margin-centered;
    width: 100%;
}

.multi-panels-card {
    // single panels, images must be max-width of 640
    @extend %clearfix;
    @include span(12 of 12);
    background-color: $color-school-rsn--support--dark;
    background-image: linear-gradient(180deg,
        $color-school-rsn--support--dark,
        $color-school-rsn--support--dark 0%,
        $color-school-rsn--support--dark 100%);
        //url('http://lorempicsum.com/nemo/500/690/1'); // default image for singular panel, to be overridden below
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: auto;
    a { display: block; }
    &:focus, &:hover {
        .multi-panels-text { padding: 30px 15px 30px 15px; }
    }
    &.multi-panels-card-cta {
        transition: all 375ms ease-in-out;
        @include breakpoint($tp-xlarge) { display: none; }
        .multi-panels-text {
            border-style: solid none solid none ;
            border-width: 3px 0 3px 0;
            border-image: repeating-linear-gradient(to right,
                transparent,
                transparent 17.5%,
                $color-school-rsn--primary 17.5%,
                $color-school-rsn--primary 82.5%,
                transparent 82.5%)
                stretch 2;
            background: transparent;
            bottom: initial;
            padding: 45px 15px;
            top: 50%;
            transform: translate(0, -50%);
        }
        .panel-details-headline-sub { padding: 0 25px 0 25px; }
        // .cta-inline {
        //     border-bottom-color: $color-white;
        //     color: $color-white;
        // }
        &:focus, &:hover {
            // .cta-inline {
            //     border-bottom-color: $color-white;
            //     color: $color-white;
            // }
            .multi-panels-text {
                background: transparent;
                padding: 45px 15px;
            }
        }
    }
}

.multi-panels-details {
    @extend %clearfix;
    height: 100%;
    position: relative;
    @include breakpoint($small-wide) { min-height: 370px; }
    @include breakpoint($tp-huge) {
        // 1300
        min-height: 430px;
    }
    .cta-inline {
        border-bottom: 1px solid transparent;
        clear: both;
        color: $color-ras-green--light;
        display: inline-block;
        font-family: $font-klavika-bold;
        font-size: 14px;
        margin: 10px 0;
        text-decoration: none;
        text-transform: uppercase;
    }
    &:focus,
    &:hover {
        .cta-inline {
            border-bottom: 1px solid rgba($color-ras-gold--dark, 0.5);
            color: $color-ras-gold--dark;
        }
    }
}
.multi-panels-text {
    @include transition(all 0.15s linear);
    @include centered-bottom(relative, 0, 0, 0, 0, 0);
    background-color: rgba($color-black, 0.7);
    color: $color-white;
    max-height: $panel-text-height;
    padding: 15px;
    text-transform: uppercase;
    @include breakpoint($small-wide) {
        @include centered-bottom(absolute, 0, 0, 0, 0, 0);
        min-height: 50%;
        max-height: 300px;
    }
}
.multi-panels-placeholder {
    .multi-panels-card {
        &:first-of-type {
            background: url('http://lorempicsum.com/nemo/500/690/1') 50% 50% / cover;
        }
        &:nth-of-type(2) {
            background: url('http://lorempicsum.com/nemo/500/690/2') 50% 50% / cover;
        }
        &:nth-of-type(3) {
            background: url('http://lorempicsum.com/nemo/500/690/3') 50% 50% / cover;
        }
        &:nth-of-type(4) {
            background: url('http://lorempicsum.com/nemo/500/690/4') 50% 50% / cover;
        }
        &:nth-of-type(5) {
            background: url('http://lorempicsum.com/nemo/500/690/5') 50% 50% / cover;
        }
        &:nth-of-type(6) {
            background: url('http://lorempicsum.com/nemo/500/690/6') 50% 50% / cover;
        }
        &:nth-of-type(7) {
            background: url('http://lorempicsum.com/nemo/500/690/7') 50% 50% / cover;
        }
        &:nth-of-type(8) {
            background: url('http://lorempicsum.com/nemo/500/690/8') 50% 50% / cover;
        }
    }
}
.multi-panels-business {
    .multi-panels-card {
        &:first-of-type {
            background: url('http://lorempicsum.com/nemo/500/690/1') 50% 50% / cover;
        }
        &:nth-of-type(2) {
            background: url('http://lorempicsum.com/nemo/500/690/2') 50% 50% / cover;
        }
        &:nth-of-type(3) {
            background: url('http://lorempicsum.com/nemo/500/690/3') 50% 50% / cover;
        }
        &:nth-of-type(4) {
            background: url('http://lorempicsum.com/nemo/500/690/4') 50% 50% / cover;
        }
        &:nth-of-type(5) {
            background: url('http://lorempicsum.com/nemo/500/690/5') 50% 50% / cover;
        }
        &:nth-of-type(6) {
            background: url('http://lorempicsum.com/nemo/500/690/6') 50% 50% / cover;
        }
        &:nth-of-type(7) {
            background: url('http://lorempicsum.com/nemo/500/690/7') 50% 50% / cover;
        }
        &:nth-of-type(8) {
            background: url('http://lorempicsum.com/nemo/500/690/8') 50% 50% / cover;
        }
    }
}
.multi-panels-design {
    .multi-panels-card {
        &:first-of-type {
            background: url('http://lorempicsum.com/futurama/500/690/1') 50% 50% / cover;
        }
        &:nth-of-type(2) {
            background: url('http://lorempicsum.com/futurama/500/690/2') 50% 50% / cover;
        }
        &:nth-of-type(3) {
            background: url('http://lorempicsum.com/futurama/500/690/3') 50% 50% / cover;
        }
    }
}
.multi-panels-education {
    .multi-panels-card {
        &:first-of-type {
            background: url('http://lorempicsum.com/up/500/690/1') 50% 50% / cover;
        }
        &:nth-of-type(2) {
            background: url('http://lorempicsum.com/up/500/690/2') 50% 50% / cover;
        }
        &:nth-of-type(3) {
            background: url('http://lorempicsum.com/up/500/690/3') 50% 50% / cover;
        }
        &:nth-of-type(4) {
            background: url('http://lorempicsum.com/up/500/690/4') 50% 50% / cover;
        }
        &:nth-of-type(5) {
            background: url('http://lorempicsum.com/up/500/690/5') 50% 50% / cover;
        }
    }
}
.multi-panels-health-sciences {
    .multi-panels-card {
        &:first-of-type {
            background: url('http://lorempicsum.com/rio/500/690/1') 50% 50% / cover;
        }
        &:nth-of-type(2) {
            background: url('http://lorempicsum.com/rio/500/690/2') 50% 50% / cover;
        }
        &:nth-of-type(3) {
            background: url('http://lorempicsum.com/rio/500/690/3') 50% 50% / cover;
        }
        &:nth-of-type(4) {
            background: url('http://lorempicsum.com/rio/500/690/4') 50% 50% / cover;
        }
        &:nth-of-type(5) {
            background: url('http://lorempicsum.com/rio/500/690/5') 50% 50% / cover;
        }
        &:nth-of-type(6) {
            background: url('http://lorempicsum.com/rio/500/690/6') 50% 50% / cover;
        }
        &:nth-of-type(7) {
            background: url('http://lorempicsum.com/rio/500/690/7') 50% 50% / cover;
        }
        &:nth-of-type(8) {
            background: url('http://lorempicsum.com/rio/500/690/8') 50% 50% / cover;
        }
        &:nth-of-type(9) {
            background: url('http://lorempicsum.com/rio/500/690/9') 50% 50% / cover;
        }
        &:nth-of-type(10) {
            background: url('http://lorempicsum.com/nemo/500/690/1') 50% 50% / cover;
        }
    }
}
.multi-panels-justice-studies {
    .multi-panels-card {
        &:first-of-type {
            background: url('http://lorempicsum.com/simpsons/500/690/1') 50% 50% / cover;
        }
        &:nth-of-type(2) {
            background: url('http://lorempicsum.com/simpsons/500/690/2') 50% 50% / cover;
        }
        &:nth-of-type(3) {
            background: url('http://lorempicsum.com/simpsons/500/690/3') 50% 50% / cover;
        }
        &:nth-of-type(4) {
            background: url('http://lorempicsum.com/simpsons/500/690/4') 50% 50% / cover;
        }
        &:nth-of-type(5) {
            background: url('http://lorempicsum.com/simpsons/500/690/5') 50% 50% / cover;
        }
    }
}
.multi-panels-nursing {
    .multi-panels-card {
        &:nth-of-type(1) {
            background: url('../../prime/images/ppc/rsn/multi-panel-lpn.jpg') 50% 50% / cover;
            background-position: 45% 28.5%;
            background-size: 900px;
            @include breakpoint($small-wide $medium-tall) {
                background-position: 55% 45%;
                background-size: 600px;
            }
            @include breakpoint($medium-tall) {
                background-position: 50% 30%;
                background-size: 700px;
            }
        }
        &:nth-of-type(2) {
            background: url('../../prime/images/ppc/rsn/multi-panel-rn.jpg') 50% 50% / cover;
            background-position: 0% 30%;
            background-size: 640px;
            @include breakpoint($small-wide $medium-tall) {
                background-position: 0% 10%;
                background-size: 600px;
            }
            @include breakpoint($medium-tall) {
                background-position: 50% 50%;
                background-size: cover;
            }
        }
        &:nth-of-type(3) {
            background: url('../../prime/images/ppc/rsn/multi-panel-bsn.jpg') 50% 50% / cover;
            background-position: 0% 40%;
            background-size: 1000px;
            @include breakpoint($small-wide $medium-tall) {
                background-position: 55% 40%;
                background-size: 800px;
            }
            @include breakpoint($medium-tall) {
                background-position: 50% 70%;
                background-size: 600px;
            }
        }
        &:nth-of-type(4) {
            background: url('../../prime/images/ppc/rsn/multi-panel-rn-to-bsn.jpg') 50% 50% / cover;
            background-position: 65% 40%;
            background-size: 1200px;
            @include breakpoint($small-wide $medium-tall) {
                background-position: 55% 55%;
                background-size: 800px;
            }
            @include breakpoint($medium-tall) {
                background-position: 60% 70%;
                background-size: 600px;
            }
        }
        &:nth-of-type(5) {
            background: url('../../prime/images/ppc/rsn/multi-panel-msn.jpg') 50% 50% / cover;
            background-position: 65% 40%;
            background-size: 1200px;
            @include breakpoint($small-wide $medium-tall) {}
            @include breakpoint($medium-tall) {
                background-position: 65% 40%;
                background-size: 600px;
            }
        }
    }
}
.multi-panels-technology {
    .multi-panels-card {
        &:first-of-type {
            background: url('http://lorempicsum.com/futurama/500/690/1') 50% 50% / cover;
        }
        &:nth-of-type(2) {
            background: url('http://lorempicsum.com/futurama/500/690/2') 50% 50% / cover;
        }
        &:nth-of-type(3) {
            background: url('http://lorempicsum.com/futurama/500/690/3') 50% 50% / cover;
        }
        &:nth-of-type(4) {
            background: url('http://lorempicsum.com/futurama/500/690/4') 50% 50% / cover;
        }
        &:nth-of-type(5) {
            background: url('http://lorempicsum.com/futurama/500/690/5') 50% 50% / cover;
        }
        &:nth-of-type(6) {
            background: url('http://lorempicsum.com/futurama/500/690/6') 50% 50% / cover;
        }
        &:nth-of-type(7) {
            background: url('http://lorempicsum.com/futurama/500/690/7') 50% 50% / cover;
        }
        &:nth-of-type(8) {
            background: url('http://lorempicsum.com/futurama/500/690/8') 50% 50% / cover;
        }
        &:nth-of-type(9) {
            background: url('http://lorempicsum.com/futurama/500/690/9') 50% 50% / cover;
        }
    }
}
