table {
    @extend %clearfix;
    border: 1px solid darken($color-white, 20%);
    width: 100%;
    th,
    td {
        border-right: 1px solid darken($color-white, 20%);
        border-bottom: 1px solid darken($color-white, 20%);
        &:last-child {
            border-right: 0;
        }
        padding: 10px;
    }
    th {
        text-align: left;
    }
    td {}
}
