// CREDENTIAL OFFERING SECTION ON PROGRAM PAGE
.credential-card-basic {
    @include clearfix;
    @include span(12 of 12);
    margin-bottom: gutter(12);
    position: relative;
    padding: 30px;
    z-index: 0;
    .credential-offerings__grid & {
        @include breakpoint($medium-tall) {
            padding: 30px 40px;
        }
        @include breakpoint($medium-tall) {
            @include span(6 of 12);
        }
        @include breakpoint($tp-xlarge) {
            @include span(first 4 of 12);
        }
        @include breakpoint($tp-ridiculously-wide) {
            @include span(first 3 of 12);
        }
        &:nth-of-type(2n) {
            @include breakpoint($medium-tall) {
                @include span(last 6 of 12);
            }
            @include breakpoint($tp-xlarge) {
                @include span(first 4 of 12);
            }
            @include breakpoint($tp-ridiculously-wide) {
                @include span(first 3 of 12);
            }
        }
        &:nth-of-type(3n) {
            @include breakpoint($medium-tall) {
                @include span(first 6 of 12);
            }
            @include breakpoint($tp-xlarge) {
                @include span(last 4 of 12);
            }
            @include breakpoint($tp-ridiculously-wide) {
                @include span(first 3 of 12);
            }
        }
        &:nth-of-type(4n) {
            @include breakpoint($medium-tall) {
                @include span(last 6 of 12);
            }
            @include breakpoint($tp-xlarge) {
                @include span(first 4 of 12);
            }
            @include breakpoint($tp-ridiculously-wide) {
                @include span(last 3 of 12);
            }
        }
    }
    // header
    @at-root #{&}__header {
        @include clearfix;
    }
    // list
    @at-root #{&}__list {
        @extend %reset-list;
        @include clearfix;
        * {
            color: $color-text--lightened;
        }
    }
    // list item
    @at-root #{&}__item {
        @include clearfix;
    }
    // headline
    @at-root #{&}__headline {
        @include clearfix;
        @at-root #{&}--lvl {
            @at-root #{&}-1 {
                @extend %font-headings--bold;
                font-size: 28px;
                text-transform: uppercase;
            }
            @at-root #{&}-2 {
                @extend %font-headings--regular;
                color: $color-text--lightened;
                font-size: 14px;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            @at-root #{&}-3 {
                @extend %font-headings--bold;
                color: $color-text--lightened;
                font-size: 18px;
            }
        }
    }
    // content footer
    @at-root #{&}__footer {
        @include clearfix;
        @include padding-axis-y(20px, 0);
        clear: both;
    }
}

.credential-offerings {
    @include clearfix;
    overflow: hidden;
    @at-root #{&}__grid {
        @include clearfix;
        // single offering spans full width. multiple offerings become cards
        @at-root #{&}--single {
            .credential-card-basic {
                padding: 30px 10px;
                margin: 0 !important;
                width: 100% !important; // override width settings inherited from non-single cards
                &::after {
                    background-color: inherit;
                    content: '';
                    display: block;
                    height: 100%;
                    left: -100%;
                    position: absolute;
                    top: 0;
                    width: 200vw;
                    z-index: -1;
                }
            }
            .credential-card-basic__header {
                @include breakpoint($medium-wide) {
                    @include span(4 of 12);
                }
            }
            .credential-card-basic__list {
                @include breakpoint($medium-wide) {
                    @include span(last 8 of 12);
                    // https://css-tricks.com/arranging-elements-top-bottom-instead-left-right-float/
                    // force list elements to be in two columns, alphabetically and vertically
                    -moz-column-count: 2;
                    -webkit-column-count: 2;
                    column-count: 2;
                    column-gap: 0;
                }
            }
            // list items split equally into 2 columns
            .credential-card-basic__item {
                // display: inline-block must be used for column-count to work on mega-menu__list--level3
                display: inline-block;
                width: 100%;
                @include breakpoint($medium-wide) {
                    page-break-inside: avoid; // For Firefox
                    -webkit-column-break-inside: avoid; // For Chrome & friends
                    break-inside: avoid; // For standard browsers like IE
                }
            }
            .credential-card-basic__footer {
                @include breakpoint($medium-wide) {
                    clear: none;
                    float: left;
                    width: auto;
                }
            }
        }
        // 2-column credential cards layout
        @at-root #{&}--2col {
            .credential-card-basic {
                @include span(12 of 12);
                margin-bottom: gutter(12);
                padding: 30px;
                @include breakpoint($medium-tall) {
                    @include span(first 6 of 12);
                }
                &:nth-of-type(2n) {
                    @include breakpoint($medium-tall) {
                        @include span(last 6 of 12);
                    }
                }
            }
        }
        // 3-column credential cards layout
        @at-root #{&}--3col {
            .credential-card-basic {
                @include span(12 of 12);
                margin-bottom: gutter(12);
                padding: 30px;
                @include breakpoint($medium-tall) {
                    @include span(first 6 of 12);
                }
                @include breakpoint($tp-xlarge) {
                    @include span(first 4 of 12);
                }
                &:nth-of-type(2n) {
                    @include breakpoint($medium-tall) {
                        @include span(last 6 of 12);
                    }
                    @include breakpoint($tp-xlarge) {
                        @include span(first 4 of 12);
                    }
                }
                &:nth-of-type(3n) {
                    @include breakpoint($medium-tall) {
                        @include span(first 6 of 12);
                    }
                    @include breakpoint($tp-xlarge) {
                        @include span(last 4 of 12);
                    }
                }
            }
        }
        // 4-column credential cards layout
        @at-root #{&}--4col {
            .credential-card-basic {
                @include span(12 of 12);
                margin-bottom: gutter(12);
                padding: 30px;
                @include breakpoint($medium-tall) {
                    @include span(6 of 12);
                }
                @include breakpoint($tp-xlarge) {
                    @include span(first 4 of 12);
                }
                @include breakpoint($tp-ridiculously-wide) {
                    @include span(first 3 of 12);
                }
                &:nth-of-type(2n) {
                    @include breakpoint($medium-tall) {
                        @include span(last 6 of 12);
                    }
                    @include breakpoint($tp-xlarge) {
                        @include span(first 4 of 12);
                    }
                    @include breakpoint($tp-ridiculously-wide) {
                        @include span(first 3 of 12);
                    }
                }
                &:nth-of-type(3n) {
                    @include breakpoint($medium-tall) {
                        @include span(first 6 of 12);
                    }
                    @include breakpoint($tp-xlarge) {
                        @include span(last 4 of 12);
                    }
                    @include breakpoint($tp-ridiculously-wide) {
                        @include span(first 3 of 12);
                    }
                }
                &:nth-of-type(4n) {
                    @include breakpoint($medium-tall) {
                        @include span(last 6 of 12);
                    }
                    @include breakpoint($tp-xlarge) {
                        @include span(first 4 of 12);
                    }
                    @include breakpoint($tp-ridiculously-wide) {
                        @include span(last 3 of 12);
                    }
                }
            }
        }
    }
}