.credential-overview {
    @include clearfix;
    @at-root #{&}__card {
        @include clearfix;
        padding: 20px 0;
        @include breakpoint($medium-tall) {
            margin-bottom: 10px;
        }
    }
    // content header
    @at-root #{&}__header {
        padding: 20px 0;
        @include breakpoint($large) {
            @include span(first 4 of 12);
        }
    }
    // list
    @at-root #{&}__list {
        @include clearfix;
        list-style: none;
        margin: 0;
        padding: 30px 0 0;
        @include breakpoint($large) {
            @include span(last 8 of 12);
        }
        * {
            color: $color-text--lightened;
        }
        @at-root #{&}--three {
            .credential-overview__item {
                @include breakpoint($small-wide) {
                    @include span(6 of 12);
                    clear: left;
                }
                @include breakpoint($medium-tall) {
                    @include span(4 of 12);
                    clear: none;
                }
                &:nth-of-type(2n) {
                    @include breakpoint($small-wide) {
                        @include span(last 6 of 12);
                        clear: none;
                    }
                    @include breakpoint($medium-tall) {
                        @include span(4 of 12);
                    }
                }
                &:nth-of-type(3n) {
                    @include breakpoint($medium-wide) {
                        @include span(last 4 of 12);
                        clear: none;
                    }
                }
            }
        }
        @at-root #{&}--four {
            .credential-overview__item {
                @include breakpoint($small-wide) {
                    @include span(6 of 12);
                    clear: left;
                }
                @include breakpoint($medium-wide) {
                    @include span(3 of 12);
                }
                &:nth-of-type(2n) {
                    @include breakpoint($small-wide) {
                        @include span(last 6 of 12);
                        clear: none;
                    }
                    @include breakpoint($medium-wide) {
                        @include span(first 3 of 12);
                    }
                }
                &:nth-of-type(3n) {
                    @include breakpoint($medium-wide) {
                        @include span(first 3 of 12);
                        clear: none;
                    }
                }
                &:nth-of-type(4n) {
                    @include breakpoint($medium-wide) {
                        @include span(last 3 of 12);
                    }
                }
            }
        }
    }
    // list item
    @at-root #{&}__item {
        margin-bottom: 20px;
        &:first-of-type {
            .credential-overview__headline--lvl-4 {
                font-size: 24px;
            }
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        // cancel bottom margin of list items within credential-overview
        .list__item {
            margin-bottom: 0; 
        }
    }
    // headline
    @at-root #{&}__headline {
        @include clearfix;
        @at-root #{&}--lvl {
            @at-root #{&}-1 {
                @extend %font-headings--bold;
                font-size: 28px;
                margin: 0 0 10px;
                @include breakpoint($tp-xlarge) {
                    font-size: 62px;
                }
            }
            @at-root #{&}-2 {
                @extend %font-headings--regular;
                font-size: 20px;
                margin: 0 0 10px;
                @include breakpoint($tp-xlarge) {
                    font-size: 34px;
                }
            }
            @at-root #{&}-3 {
                @extend %font-headings--regular;
                color: $color-text--lightened;
                font-size: 14px;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            @at-root #{&}-4 {
                @extend %font-headings--bold;
                color: $color-text--lightened;
                font-size: 18px;
                margin: 5px 0;
            }
        }
    }
    // content footer
    @at-root #{&}__footer {
        @include clearfix;
        clear: both;
    }
    .text--deemphasized {
        @extend %font-headings--regular;
        @include span(12 of 12);
    }
}